@import url('https://fonts.googleapis.com/css?family=Pacifico');
body{
  margin: 0;
  padding: 0;
  background-color: #333;
}
#mainTxt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#mainTxt #txt{
  font-size: 80px;
  font-family: "Pacifico", sans-serif;
  white-space: nowrap;
  letter-spacing: 8px;
  background-image: url(3.jpg);
  -webkit-background-clip: text;
  color:transparent;
  background-repeat: no-repeat;
  animation: change 4s ease-in-out infinite alternate;
}

@keyframes change {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
